body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(255, 255, 255);
  margin-top: -1px;
  margin-left: 15px;
  margin-right: 15px;
}

#main-container {
  display: block;
  max-width: 1200px;
  min-width: 650px;
  margin: auto;
  text-align: center;
  border: 1px solid grey;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

/* -------- NAV BAR TOP-------- */
#navbar {
  font-size: 18px;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-between;
  background-color: rgb(219, 219, 219);
  padding: 10px;
  border-bottom: rgba(0, 0, 0, 0.403) solid 1px;
}

#navbar-extra {
  width: 190px;
  display: block;
}

#navbar-user {
  width: 400px;
  text-align: right;
}

#navbar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  vertical-align: top;
}

/* -------- LOGO Y  BANNER-------- */

#logo-banner {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: rgb(35, 154, 223);
}

/* -------- LOGO -------- */

#logo {
  height: 80px;
  flex-grow: 1;
}

#logo h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  padding: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  min-width: 480px;
  color: rgb(255, 255, 255);
}

#logo span {
  color: rgba(255, 255, 255, 0.938);
  font-size: 42px;
  filter: drop-shadow(0px 5px 4px #00000069);
  vertical-align: -5px;
}

/* -------- BANNER -------- */

#banner {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-between;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.144);
  max-height: 80px;
}

#banner-img {
  max-height: 80px;
  max-width: 260px;
}

#banner-text {
  margin-top: 4px;
  font-style: oblique;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
  max-width: 198px;
  max-height: 80px;
}

/* -------- NAV BAR BOTTOM -------- */

#navbar-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(233, 233, 233);
  border-bottom: 1px solid rgb(82, 82, 82);
}

#navbar-bottom a {
  text-decoration: none;
  color: inherit;
}

#navbar-bottom li {
  list-style-type: none;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-top: 15px;
}

#navbar-bottom li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pag-seleccionado {
  background-color: rgb(206, 206, 206);
}

/* -------- PRODUCTOS - INVENTARIO -------- */
#productos {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: rgb(233, 233, 233);
  background-image: url("./src/background-comprar.svg");
}

#productos h3,
#contacto h3 {
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  width: 280px;
  margin-bottom: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

h3 {
  text-align: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

#inventario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: initial;
  flex-wrap: wrap;
}

.producto-box {
  width: 140px;
  border: 1px solid rgb(112, 112, 112);
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.producto-box input {
  height: 25px;
  width: 50px;
}

.producto-box p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  height: 45px;
}

.producto-box h4 {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 0px;
  font-weight: 500;
}

.producto-box h5 {
  margin-top: 10px;
  font-size: 13px;
}

#div-comprar button {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 15px;
  border: none;
  background-color: rgb(66, 99, 160);
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.compraTotal {
  font-size: 23px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  width: 280px;
  margin-bottom: 10px;
}

.compraTotalError {
  font-size: 23px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  color: red;
  padding: 15px;
  width: 280px;
  margin-bottom: 10px;
}

/* -------- PIE DE PAGINA -------- */

#pie {
  font-style: oblique;
  color: rgb(250, 250, 250);
  text-align: center;
  padding-top: 1px;
  padding-bottom: 10px;
  background-color: rgb(81, 113, 143);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid rgb(82, 82, 82);
}

#pie p + p {
  margin-top: -10px;
}

/* -------- INICIO -------- */

#inicio {
  background-color: rgb(255, 255, 255);
  background-image: url("./src/background.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  padding-top: 60px;
  padding-left: 30px;
}

#inicio-texto {
  position: relative;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: white;
  width: 470px;
}

/* ------ Consulta ------- */

#contacto {
  background-color: rgb(151, 151, 151);
  background-image: url("./src/background-contacto.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  opacity: 0.85;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

#div-consultas {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.925);
  width: 600px;
}

#div-consultas input {
  margin-top: 5px;
  margin-bottom: 10px;
}

#div-consultas p {
  margin-top: 0px;
  margin-bottom: 0px;
}
#div-consultas p,
input,
textarea,
button {
  font-family: "Quicksand", sans-serif;
}

#input-nombre,
#input-apellido {
  width: 200px;
}

#input-mail {
  width: 300px;
}

#textarea-consulta {
  text-align: left;
  text-justify: none;
  text-orientation: left;
  min-width: 400px;
  max-width: 90%;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#boton-enviar {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 200px;
  cursor: pointer;
  padding: 15px;
  border: none;
  background-color: rgb(66, 99, 160);
  border-radius: 5px;
  color: white;
}

#boton-enviar:hover {
  background-color: rgb(88, 120, 180);
}

#envio-test {
  font-size: 20px;
  padding-bottom: 10px;
}

.envioFail {
  color: red;
}

.envioOk {
  color: green;
}
