body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(209, 209, 209);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#main-container {
  display: block;
  max-width: 1200px;
  min-width: 660;
  margin: auto;
  text-align: center;
}

/* -------- NAV BAR -------- */
#navbar {
  font-size: 18px;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.144);
  padding: 10px;
  border-bottom: rgba(0, 0, 0, 0.403) solid 1px;
}

#navbar-extra {
  width: 185px;
  display: block;
}

#navbar-user {
  width: 180px;
  text-align: right;
  cursor: pointer;
}

#navbar-extra:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

#navbar-extra span {
  vertical-align: top;
}

#navbar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}

#navbar button:hover {
  color: grey;
}

/* -------- LOGO Y  BANNER-------- */

#LOGOyBanner {
  display: flex;
  flex-direction: row;
}

/* -------- LOGO -------- */

#LOGO {
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.664);
  border-bottom: rgba(0, 0, 0, 0) solid 1px;
  max-width: 1300px;
  min-width: 400px;
}

#LOGO span {
  color: rgba(29, 29, 29, 0.671);
  font-size: 42px;
  filter: drop-shadow(0px 5px 4px #00000069);
  vertical-align: -5px;
}

/* -------- BANNER -------- */

#banner {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bannerimg {
  height: 90px;
  max-width: 100%;
  min-width: 90;
}

#bannertext {
  font-style: oblique;
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
}

/* -------- PRODUCTOS - INVENTARIO -------- */
#productos {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(128, 128, 128, 0.144);
}

h3 {
  text-align: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

#inventario {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sinBullet {
  list-style-type: none;
}

.bulletCirculo {
  list-style-type: circle;
  margin-left: -20px;
  text-align: left;
}

/* -------- PIE DE PAGINA -------- */

#pie {
  font-style: oblique;
  color: grey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.027);
}

/* -------- EXTRAS -------- */
